.filters {
    width: 20%;
    background-color: rgb(248,247,250);
    padding: 5% 2% 5% 2%;
    border-top-right-radius: 5px;
}

.evt-search-list {
    width: 45%;
    padding: 1% 2% 2% 1%;
}

.browse-events {
    display: flex;
    margin-top: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filters-header {
    margin-top: 1em;
    color: rgb(75,77,99);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1em;
    cursor: pointer;
}

.category-filter-arrow-row {
    display: flex;
    align-items: center;
}

.browse-event-arrow {
    border-color: rgb(75,77,99);
}


.date-filter-arrow-row {
    display: flex;
    width: 50px;
    align-items: center;
    margin-top: 2em;
}

.more-categories {
    color: rgb(61,99,251);
    margin-top: 1em;
    cursor: pointer;
}

.the-selected {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    border-left-color: rgb(54,89,227);
    border-left: 4px solid;
}

.date-list-browse {
    li {
        padding: 3%;
        color: rgb(106,104,123);
        &:hover {
            margin-left: 5px;
        }
        transition: margin .5s;
        cursor: pointer;
    }
}

.search-button {
  display: inline-block;
  padding: .8em 2.0em;
  margin: 1em 0.3em 0.3em 0;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  color:#FFFFFF;
  background-color: rgb(189, 45, 45);
  text-align:center;
  position: relative;
}

.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-events-match {
    margin-top: 2em;
    text-align: center;
}

.event-maps {
    width: 35%;
}