.event-img-list {
    width: 100px;
    height: 100px;
}

.event-list-item {
    display: flex;
    color: black;
    margin-top: 1em;
}

.detail-col {
    display: flex;
    flex-direction: column;
}