// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic-info {
    display: flex;
    flex-direction: column;
    ::placeholder {
        color: rgba($color: #a6adaf, $alpha: 0.6);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    overflow-y: scroll;
    height: 82vh;
}



.basic-info-header {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 54px;
    color: rgb(32, 2, 32);
}

.basic-info-explanation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter {
    align-self: flex-end;
}

.basic-info form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.my-custom-dropdown {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.relative-custom {
    position: relative;
   display: none;
}


.event-type-dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    height: 20%;
    overflow-y: scroll;
    z-index: 1;
    li {
        padding: 2px 10px
    }
     height: 200px;
}

.google-auto-complete-icon {
    margin-right: 10px;
    margin-left: 5px;
}


.event-type-dropdown-content li:hover {
    background-color: blue;
}

.select-box {
    border: solid 1px #ccc;
    padding: 15px 5px;
    width: 86%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    &:hover, &:active {
        border: solid 2px blue;
    }
}

.row {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.my-custom-dropdown:hover > .event-type-dropdown-content {
    display: block;
}

.my-custom-dropdown:hover > .relative-custom {
    display: block;
}

.width-thirty-three {
    width: 33%;
}

.outline-button {
    display: inline-block;
  padding: 0em 4.0em;
  margin: 1.3em 0.3em 1em 0;
  border: 2px solid #ccc;
  border-radius: 0.1em;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  color: #1E0D3C;
  background-color: white;
  text-align:center;
  position: relative;
}

.width-75 {
    width: 33vw;
    input {
        width: 100%;
    }
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.separator {
    height: 10vh;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.autocomplete {
    padding: 12px 5px;
    display: flex;
    border: solid 1px #ccc;
    input {
        width: 100%;
    }
}

.radio-selectors {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    line-height: 1.5em;
    input {
        margin-right: 10px;
    }
    font-family: sans-serif;
}

.advanced-settings {
    color: rgb(32, 2, 32);
    font-family: sans-serif;
}

.display-start-time {
    display: none;
    margin-top: 1em;
    input {
        margin-right: 1em;
        margin-top: .5em;
    }
    label {
        color: rgb(32, 2, 32);
        font-size: 1em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.1em;
        p {
            font-size: .8em;
            color: black;
        }
    }
}

.show {
    display: block;
}

.save-and-continue-modal {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: start;
    animation-name: modal-transition;
    animation-duration: 1s;
}

.discard-button {
    display: inline-block;
  padding: 0.8em 3.5em;
  margin: 1.3em 0.9em 1em 0;
  border: 2px solid #ccc;
  border-radius: 0.3em;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  color: #1E0D3C;
  background-color: white;
  text-align:center;
  position: relative;
}

.save-button {
    display: inline-block;
  padding: .8em 2.0em;
  margin: 1em 0.3em 0.3em 0;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  color:#FFFFFF;
  background-color: rgb(189, 45, 45);
  text-align:center;
  position: relative;
}

@keyframes modal-transition {
    from {height: 0%;}
    to {height: 13%;}
}

