// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic-info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    ::placeholder {
        color: rgba($color: #a6adaf, $alpha: 0.6);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}


.basic-info-header {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 54px;
}

.basic-info-explanation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter {
    align-self: flex-end;
}

.basic-info form {
    display: flex;
    flex-direction: column;
}

.my-custom-dropdown {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.relative-custom {
    position: relative;
   display: none;
}


.event-type-dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    height: 20%;
    overflow-y: scroll;
    li {
        padding: 2px 10px
    }
     height: 200px;
}


.event-type-dropdown-content li:hover {
    background-color: blue;
}

.select-box {
    border: solid 1px #ccc;
    padding: 15px 5px;
    width: 86%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    &:hover, &:active {
        border: solid 2px blue;
    }
}

.row {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.my-custom-dropdown:hover > .event-type-dropdown-content {
    display: block;
}

.my-custom-dropdown:hover > .relative-custom {
    display: block;
}

.width-thirty-three {
    width: 33%;
}