html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

@font-face {
    font-family: 'Signatra';
    src: asset_url("Signatra.ttf") format("truetype")
}

@font-face {
    font-family: 'Grotesk';
    src: asset_url("grotesk.ttf") format("truetype")
}
.background-image {
    position: absolute;
    height: 70%;
    width: 100%;
    display: inline-block;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-image: image_url("concerts-1150042_1920.jpg");
    z-index: -100;
}


.navbar {
    position: absolute;
    color: white;
    width: 100%;
}

nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    display: block;
    padding: 0 25px;
    line-height: 70px;
    text-decoration: none;
    &:hover {
        background-color: rgba($color: #cfb6b63f, $alpha: .2)
    }
    &:not(:only-child):after {
       padding-left: 4px;
       content: ' ▾';
    }
}

.drop-down li {
    min-width: 190px;
    a {
        padding: 15px;
        line-height: 20px;
    }
}

.drop-down {
    position: absolute;
    z-index: -10;
     box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
     background-color: white;
     color: grey;
     display: none;
}


.logo {
    font-size: 50px;
    font-family: 'Signatra';
    margin-left: 30px;
}

.organize:hover > .drop-down {
    display: block;
}

.help:hover > .drop-down {
    display: block;
}

.search-bar {
    background-color: white;
    padding: 15px 10px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.search-bar > input {
    width: 400px;
    margin-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba($color: #000000, $alpha: .3)
}

.login {
    color: grey;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}



.right {
    display: flex;
}


.login-logo {
    color: orangered;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grey-divider {
  background-color: rgba($color: #000000, $alpha: 0.1);
  height: 5px;
  width: 100%;
  border: none;
  border-radius: 30px;
}

.five-height {
  height: 5px;
}

.third-em {
  height: .3em;
}

.errors {
  color: red;
  font-family: sans-serif;
  font-size: .7em;
}

.error-password {
  border: 2px solid red;
    label {
      color: red;
    }
}

.main-image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),image_url('concert-2566002_1920.jpg');
  position: absolute;
  z-index: -90;
  top: 13%;
  display: inline-block;
  left: 5%;
  width: 70%;
  height: 70%;
  background-size: cover;
}

.small-main-text {
  position: absolute;
  color: rgba($color: #f9fcfb, $alpha: 0.75);
  font-size: 1.8em;
  font-family: 'Grotesk';
  font-weight: bold;
  top: 40%;
  left: 8%;
  z-index: -80;
}

.large-main-text {
  position: absolute;
  color: white;
  font-size: 3.6em;
  font-family: 'Grotesk';
  font-weight: bold;
  top: 45%;
  left: 8%;
  z-index: -80;
}

.large-box {
  background-color: white;
  position: absolute;
  right: 7%;
  top: 25%;
  z-index: -80;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  align-items: center;
}

.box-top {
  margin-top: 2em;
  align-self: flex-start;
  margin-left: 2.5em;
  font-size: .8em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba($color: #310a2f, $alpha: 0.7);
  z-index: -50;
} 

.box-select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(32, 2, 32);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 2.5em;
}

.custom-select {
  margin-top: 1em;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.custom-select:active {
border-bottom: 2px solid blue;
}

.box-select-category {
  color: rgb(32, 2, 32);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
}

.one-em {
  height: 1em;
}

.location-select {
  margin-top: 1em;
  width: 90%;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  z-index: -50;
}

.arrow-circle {
  position: absolute;
  z-index: -75;
  right: 10%;
  top: 71.5%;
}


.the-arrow{
  font-size: 3em;
}

.relative {
  margin-left: 3px;
  position: relative;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  z-index: -30;
  display: none;
}


.custom-select-dropdown-content {
  z-index: -20;
  position: absolute;
  background-color: white;
  width: 90%;
  border: 1px solid blue;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  li:hover {
    background-color: blue;
  }
}

.show {
  display: block;
}

.range-picker {
  z-index: 1000;
}

.help:hover, .help:active {
  .drop-down {
    display: block;
  }
}

.drop-down:hover {
  display: block;
  ul {
    display: block;
  }
}

.help {
  position: relative;
}













