.row-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    line-height: 1.5em;
    margin-top: 10px;
    align-items: center;
}

.profile-icon {
    font-size: 40px;
    margin-right: 3px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.nav-lists a {
    display: block;
    padding: 0 25px;
    line-height: 70px;
    text-decoration: none;
    &:hover {
        background-color: rgba($color: #cfb6b63f, $alpha: .2)
    }
}

.nav-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white {
    border: solid white;
}

.arrow-down {
  box-sizing: border-box;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0px 4px 4px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-left: 5px;
}

.drop-down-right {
    right: 2.85%;
}

.publish-event:hover, .more:hover{
    .drop-down {
        display: block;
    }
}

.profile:hover {
    .drop-down {
        display: block;
    }
}

.profile {
    margin-right: 40px;
}