.tag {
    margin-top: 0.3em;
    border-radius: 15px;
    background-color: rgba($color: #747070, $alpha: 0.1);
    margin-right: 10px;
    padding: 8px 8px;
    p {
        margin-right: 25px;
    }
}