.ticket-modal {
        position: fixed;
        z-index: 200000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
    }
    .ticket-modal-content {
        z-index: 20000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1.2rem 1.7rem;
        width: 50rem;
        border-radius: 0.5rem;
    }

    .ticket-modal-dropdown {
    width: 2.7em;
    display: flex;

    flex-direction: column;
}

.ticket-dropdown-content li:hover {
    background-color: blue;
    cursor: pointer;
}

.ticket-dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    height: 20%;
    overflow-y: scroll;
    z-index: 1;
    li {
        padding: .4em 1em
    }
     height: 200px;
}

.modal-event-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  rgb(32, 2, 32);
    font-size: 16px;
    text-align: center;
    margin-bottom: .2em;
}

.modal-event-date {
    color: rgb(143,146,162);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.new-row {
    display: flex;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-bottom: 1em;
    align-items: center;
}

.two-em {
    height: 2em;
}

.going-to {
    color: rgb(32, 2, 32);
    font-weight: bold;
    font-size: 14px;
    margin-top: 1em;
}

.modal-ticket-remaining {
    color: rgb(143,146,162);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ticket-modal-header {
    margin-top: 1em;
    color: rgb(32, 2, 32);
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-bottom: 2em;
}

.modal-ticket-name {
    color: rgb(32, 2, 32);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.modal-ticket-price {
    color: rgb(32, 2, 32);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.modal-list-col {
    line-height: 1.4em;
}



.ticket-modal-dropdown:hover > .ticket-dropdown-content {
    display: block;
}

.ticket-modal-dropdown:hover > .relative-custom {
    display: block;
}

    .modal-list-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        margin-bottom: 1em;
    }

.checkout-ticket-button {
  display: inline-block;
  padding: .5em 2.0em;
  margin: 1em 0.3em 1em 0;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  color:#FFFFFF;
  background-color: rgb(189, 45, 45);
  text-align:center;
  position: relative;
}

.grn-checkmark {
    display: flex;
    width: 30px;
    height: 30px;
    color: white;
    background-color: lightgreen;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-right: 5px;
}

.dull-checkout {
    background-color: rgba(189, 45, 45, .3);
    &:active, &:hover {
        background-color: rgba(189, 45, 45, .3);
    }
}

.checkout-ticket-button:active, .checkout-ticket-button:hover {
  background-color: orangered;
}

.let-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}